body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

form {
    margin-top: 20px;
}

input {
    width: calc(100% - 16px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.admin-panel {
    margin-top: 30px;
    border: 2px solid #ddd;
    padding: 20px;
    text-align: center;
}

.admin-panel form {
    margin-top: 15px;
}

.admin-panel ul {
    list-style-type: none;
    padding: 0;
}

.admin-panel li {
    margin-bottom: 10px;
}

.admin-panel button {
    cursor: pointer;
}
table {
    border-collapse: collapse;
    width: 400px;
}

td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}